.login-btn{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #3d526d;
}

.login-btn:hover{
    -fx-background-color: rgba(255, 255, 255, 1);
}

.ok-btn{
    -fx-background-color: rgb(61, 82, 109);
    -fx-text-fill: #fff;
}

.ok-btn:hover{
    -fx-background-color:  rgb(79, 163, 211);
}

.glyph-icon{
    -fx-fill: #637489;
    -glyph-size: 35px;
}

.menu-btn:hover .glyph-icon{
    -fx-fill: #fff;
}

.exit-btn:hover .glyph-icon{
    -fx-fill: #fff;
}

.home-btn:hover .glyph-icon{
    -fx-fill: #fff;
}

.menu-btn {
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    /*-fx-padding: 15px 10px 15px 30px;*/
    -fx-text-fill: rgb(80, 98, 120);
    -fx-background-position: center;
}

.menu-btn:hover{
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: rgb(79, 163, 211);
    -fx-text-fill: rgba(255, 255, 255, 1);
    /*-fx-padding: 15px 10px 15px 30px;*/
    -fx-background-color: #3d526d;
}

.exit-btn {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
}

.exit-btn:hover{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.left-side {
    -fx-background-color: #334153;
}

.field{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-radius: 2px;
}

.field:focused{
    -fx-background-color: #fff;
    -fx-text-fill: #3d526d;
}

.welcome-pane{
    -fx-background-color: #3d526d;
}

.left-side-header{
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: rgb(79, 163, 212);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-label-padding: 0 0 0 20px;
}

.home-btn{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
}

.home-btn:hover{
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.footer{
    -fx-background-color: linear-gradient(to top, rgba(66, 74, 85, 0.64), rgba(0, 0, 0, 0));
}


